POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=rentcar

TIMESCALE_HOST=timescaledb
TIMESCALE_PORT=5432
TIMESCALE_USER=timeuser
TIMESCALE_PASSWORD=timepass
TIMESCALE_DB=timedb

MQTT_BROKER=tcp://mosquitto:1883
MQTT_PORT=1883
BACKEND_PORT=8010
JWT_SECRET=your-secret-key-here