# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_DB=rentcar
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MQTT
MQTT_BROKER=tcp://mosquitto:1883
MQTT_PORT=1883

# Backend
BACKEND_PORT=8010
BACKEND_HOST=0.0.0.0
