# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_DB=rentcar

# JWT
JWT_SECRET=SuperSecret

# Seed admin account created on startup (leave empty to disable)
ADMIN_EMAIL=admin@rentcar.com
ADMIN_PASSWORD=admin12345

# MQTT
MQTT_BROKER=tcp://localhost:1883
MQTT_TOPIC=test/topic

# Server
SERVER_PORT=8010

# Frontend URL for CORS
FRONTEND_URL=http://localhost:5173

TIMESCALE_HOST=timescaledb
TIMESCALE_PORT=5433
TIMESCALE_USER=timeuser
TIMESCALE_PASSWORD=timepass
TIMESCALE_DB=timedb